:root {
    --font-family: "DM Sans", sans-serif;
    --space-unit: 4vw;
    --space-xs: calc(12 * var(--space-unit));
    --space-sm: calc(10 * var(--space-unit));
    --space-md: calc(8 * var(--space-unit));
    --space-lg: calc(6 * var(--space-unit));
    --space-xl: calc(4 * var(--space-unit));
}

/***TABLE OF CONTENTS***/

/************************GENERAL************************/
/*********************HERO-SECTION************************/
    /*****Title*****/
    /*****
/***Services-Section***/
/***About-Us-Section***/
/***Contact-Section***/
/***Footer-Section***/
/***Website-Decoration***/
/***Pre-loader****/
/****FadeIn & FadeOut***/


/***General***/

/*Spacing Between Elements*/
@media screen and (max-width: 600px) {
    .space-section {
        height: var(--space-xs);
      }
    }
 

  @media screen and (min-width: 600px) {
    .space-section {
        height: var(--space-sm);
      }
    }

    @media screen and (min-width: 900px) {
        .space-section {
            height: var(--space-md);
          }
        }

    @media screen and (min-width: 1200px) {
    .space-section {
        height: var(--space-md);
      }
    }

    @media screen and (min-width: 1500px) {
        .space-section {
            height: var(--space-lg);
          }
        }

    @media screen and (min-width: 1800px) {
        .space-section {
            height: var(--space-xl);
          }
     }

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--font-family);
    margin: 0px;
}

h4, label {
    
    font-weight: 600;
    font-size: clamp(1rem, 2vw, 1.4rem);
}

.space {
    height: 4rem;
}



/***Hero-Section***/

.company-logo {
    width: clamp(4rem, 8vw, 10rem);
}

h1 {
    font-size: clamp(2rem, 7vw, 5.5rem);
    font-weight: 900;
}

p {
    font-size: clamp(0.9rem, 2vw, 1.2rem);
}

/***Services-Section***/
h2 {
    font-size: clamp(2rem, 7vw, 5.5rem);
}

h3 {
    font-size: clamp(1.2rem, 4vw, 2rem);
    opacity: 0.7;
}

.icon-services {
    width: clamp(3rem, 5vw, 7rem);
}

.icon-flexbox {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

.icon-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8vw;
}

.icon-grid p {
    max-width: 80%;
}

@media screen and (min-width: 670px) {
    .icon-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 6vw;
    }
}

/*************************************************/
/* Style the section */
.background-section {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: fit-content;
}

/* Style the background video */
.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translate(-50%, -50%);
}

/* Style the overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Black overlay with 80% opacity */
    z-index: 1;
}

/* Style the content */
.content-background {
    position: relative;
    max-width: 1200px; /* Adjust this to your desired max-width */
    margin: 0 auto;
    padding: 20px;
    z-index: 2;
}


.content-white {
    color: white;
}
  
  /* Additional styles for other sections */

/***About-Us-Section***/

.paragraph-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4vw;
}

.icon-brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.icon-brands img {
    width: clamp(4rem, 10vw, 15rem);
}

@media screen and (min-width: 670px) {
    .paragraph-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 2em;
    }
}

/***Contact-Section***/

textarea {
    max-width: 100%;
    width: 100%;
}

label {
    margin-bottom: 1rem;
}

input:focus {
    border: 2px solid yellow;
}

input::placeholder, textarea::placeholder {
    color: grey;
    opacity: 0.5;
}

input, textarea {
    font-size: clamp(0.7rem, 2vw, 1.2rem);
    font-family: var(--font-family);
    padding: 1rem 0;
    margin-bottom: 3vw;
    width: 100%;
    border: 0px;
    border-bottom: 1px solid black;
}

input[type="date"] {
    background-color: white;
}

.button {
    border: 0px;
    background-color: black;
    color: white;
    font-weight: 900;
    padding: 2vw;
}

form {
    display: grid;
    grid-template-columns: 1fr;
}

@media screen and (min-width: 670px) {
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5vw;
    }
}

/***FOOTER-SECTION****/


.footer-section {
    z-index: 5;
}


/***WEBSITE-DECORATION***/

/**Scroll Bar**/

/* For Chrome, Safari, and Opera */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #1C1C1C;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}

/**Custom Cursor**/

html {
    cursor: url("./Svg/cursor.svg"), auto;
}

/****Pre-Loader*******/

.pre-loader {
    position: fixed;
    background-color: white;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pre-loader > .overlay-preloader {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 100%;
    z-index: 5;
    background-color: black;
  }

.company-logo-preloader {
    width: 20vw;
    z-index: 11;
}

