:root {
    --font-family: "DM Sans", sans-serif;
    --space-unit: 4vw;
    --space-xs: calc(4 * var(--space-unit));
    --space-sm: calc(4 * var(--space-unit));
    --space-md: calc(4 * var(--space-unit));
}

/***TABLE OF CONTENTS***/

/************************GENERAL************************/
/*********************HERO-SECTION************************/
    /*****Title*****/
    /*****
/***Services-Section***/
/***About-Us-Section***/
/***Contact-Section***/
/***Website-Decoration***/


/***General***/

/*Spacing Between Elements*/
@media screen and (max-width: 600px) {
    .space-section {
        height: var(--space-xs);
      }
    }
 

  @media screen and (min-width: 600px) {
    .space-section {
        height: var(--space-sm);
      }
    }

    @media screen and (min-width: 900px) {
        .space-section {
            height: var(--space-md);
          }
        }

    @media screen and (min-width: 1200px) {
    .space-section {
        height: var(--space-md);
      }
    }

    @media screen and (min-width: 1800px) {
        .space-section {
            height: var(--space-md);
          }
     }

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--font-family);
    margin: 0px;
}

h4, label {
    text-transform: uppercase;
    font-weight: 600;
}


/***Hero-Section***/

.company-logo {
    width: clamp(4rem, 8vw, 10rem);
}

h1 {
    font-size: clamp(2rem, 7vw, 5.5rem);
    font-weight: 900;
}

h2 {
    font-size: clamp(2rem, 7vw, 5.5rem);
}

p {
    font-size: clamp(0.7rem, 2vw, 1.2rem);
}

/***Services-Section***/


.icon-services {
    width: clamp(3rem, 3vw, 7rem);
    ;
}

.icon-flexbox {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

/*************************************************/
/* Style the section */
.background-section {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: fit-content;
}

/* Style the background video */
.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translate(-50%, -50%);
}

/* Style the overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Black overlay with 80% opacity */
    z-index: 1;
}

/* Style the content */
.content-background {
    position: relative;
    max-width: 1200px; /* Adjust this to your desired max-width */
    margin: 0 auto;
    padding: 20px;
    z-index: 2;
}


.content-white {
    color: white;
}
  
  /* Additional styles for other sections */

/***About-Us-Section***/

.icon-brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.icon-brands img {
    width: clamp(4rem, 10vw, 15rem);
}

/***Contact-Section***/

input:focus {
    border: 2px solid yellow;
}

input::placeholder {
    color: grey;
    opacity: 0.5;
}

input {
    font-size: clamp(0.7rem, 2vw, 1.2rem);
    font-family: var(--font-family);
}

@media screen and (max-width: 600px) {
    .space-section {
        height: var(--space-xs);
      }
    }
 

  @media screen and (min-width: 600px) {
    .space-section {
        height: var(--space-sm);
      }
    }

    @media screen and (min-width: 900px) {
        .space-section {
            height: var(--space-md);
          }
        }

    @media screen and (min-width: 1200px) {
    .space-section {
        height: var(--space-md);
      }
    }

    @media screen and (min-width: 1800px) {
        .space-section {
            height: var(--space-md);
          }
     }

/***WEBSITE-DECORATION***/

/**Scroll Bar**/

/* For Chrome, Safari, and Opera */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #1C1C1C;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}

/**Custom Cursor**/

html {
    cursor: url("./Svg/cursor.svg"), auto;
}