:root {
    --font-family: "DM Sans", sans-serif;
}

/***TABLE OF CONTENTS***/

/***General***/
/***Hero-Section***/
/***Services-Section***/
/***About-Us-Section***/
/***Contact-Section***/
/***Website-Decoration***/


/***General***/
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: var(--font-family);
    margin: 0;
}

h4 {
    text-transform: uppercase;
}


/***Hero-Section***/

.company-logo {
    width: clamp(3rem, 5vw, 10rem);
}

h1 {
    font-size: clamp(2.5rem, 3vw, 7rem);
}

/***Services-Section***/


.icon-services {
    width: clamp(2.5rem, 3vw, 7rem);
}

.foreground {
    max-width: 900px;
    margin: auto;
}


/*************************************************/
/* Style the section */
.background-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Style the background video */
.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translate(-50%, -50%);
}

/* Style the overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Black overlay with 80% opacity */
    z-index: 1;
}

/* Style the content */
.content {
    position: relative;
    max-width: 960px; /* Adjust this to your desired max-width */
    margin: 0 auto;
    padding: 20px;
    color: white;
    z-index: 2;
}
  
  /* Additional styles for other sections */

/***About-Us-Section***/


/***Contact-Section***/
/***Website-Decoration***/



body {
    font-family: var(--font-family);
}

/***WEBSITE-DECORATION***/

/**Scroll Bar**/

/* For Chrome, Safari, and Opera */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #1C1C1C;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}

/**Custom Cursor**/

html {
    cursor: url("./Svg/cursor.svg"), auto;
}